body {
    padding-bottom: 40px;
    font-family: "Lucida Console";
    background: #C70039;
    margin: 0;
}

.content {
    margin: 5px;
}

.search-box {
    padding-top: 100px;
    margin: 20px;
}

h1 {
    margin: 0;
    font-size: 40px;
    color: #FFFFFF;
    padding: 20px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;

    display: block;
}

.header, #footer {
    background: #581845;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9);
}

h2 {
    font-size: 30px;
    color: #FFD594;
    max-width: 800px;
    padding: 10px;
    border-style: dashed;
    border-width: 5px 3px 2px 1px;
    border-color: #FFC300;
}

h3 {
    font-size: 20px;
    color: #FFFFFF;

}

table {
    clear: left;
    padding-bottom: 5px;
}

th {
    padding: 8px 8px;
    font-size: 16px;
    color: #FFFFFF;
}

label {
    color: #FFD594;
    font-size: 16px;
}

.question td, .question th, .answer td, .answer th {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .9);
}

h1, h2, h3, th {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .9);
}

a {
    text-decoration: none;
    color: black;
}

.question thead, th {
    background-color: #937873;
}

.question td {
    font-size: 16px;
    padding: 8px 8px;
    background-color: #FFC300;
}

.answer td {
    padding: 8px 8px;
    background-color: #581845;
    color: #FFD594;
}

.question td.question_title:hover {
    background: #2f8bb9
}

a:hover {
    background: #2f8bb9 !important;
    border-color: white;
}

.navigation {
    padding: 10px;
}

.navigation a {
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 30px;
    background: #39c;
    color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
}

#footer {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    left: 0;
    height: 20px;
    width: 100%
}

.sorting {
    margin-top: 15px;
}

#tag {
    color: #FFD594;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #581845;
    display: inline;
}