body {
    font-family: "Lucida Console";
    background: #C70039;
    margin: 0;
}

.content, .search-box {
    margin: 15px;
}

h1 {
    font-size: 40px;
    color: #FFFFFF;
    padding: 20px;
}

.header {
    background: #581845;
}

h2 {
    font-size: 30px;
    color: #FFD594;
    max-width: 800px;
    padding: 10px;
    border-style: dashed;
    border-width: 5px 3px 2px 1px;
    border-color: #FFC300;
}

h3 {
    font-size: 20px;
    color: #FFFFFF;

}

table {
    clear: left;
    padding-bottom: 5px;
}

th {
    padding: 8px 8px;
    font-size: 16px;
    color: #FFFFFF;
}

label {
    color: #FFD594;
    font-size: 16px;
}

.question thead, th {
    background-color: #937873;
}

.question td {
    font-size: 16px;
    padding: 8px 8px;
    background-color: #FFC300;
}

.answer td {
    padding: 8px 8px;
    background-color: #581845;
    color: #FFD594;
}

a:hover {
    background: #39c;
    border-color: white;
    font-size: 18px;
}

.navigation {
    font-size: 16px;
    margin-right: 2px;
    padding: 5px;
}

#footer {
    margin: 15px;
}

.sorting {
    margin-top: 15px;
}

#tag {
    color: #FFD594;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #581845;
    display: inline;
}