body {
    font-family: "Lucida Console";
    background: #C70039 ;
    margin: 0;
}

.content, .search-box {
    margin: 15px;
}

h1 {
    font-size: 50px;
    color: #FFFFFF;
    padding: 20px;
    background: #581845;
}

h2 {
    font-size: 35px;
    color: #FFD594;
    max-width: 800px;
    padding: 10px;
    border-style: dashed;
    border-width: 5px 3px 2px 1px;
    border-color: #FFC300;
}

h3 {font-size: 20px;
    color: #FFFFFF;

}

table {
    clear: left;
    padding-bottom: 5px;
}

th {
    padding: 5px 20px;
    font-size: 20px;
    color: #FFFFFF;
}

.question thead, th {
    background-color: #937873;
}

.question td {
    font-size: 18px;
    padding: 2px 20px;
    background-color: #FFC300;
}

.answer td {
    padding: 5px 25px;
    background-color: #581845;
    color: #FFD594;
}

a:hover {
    background: #39c;
    border-color: white;
    font-size: 19px;
}

.navigation {
    font-size: 18px;
    margin-right: 2px;
    padding: 5px;
}

#footer {
    margin: 15px;
}

.sorting {
    margin-top: 15px;
}

label {
    color: #FFD594;
    font-size: 18px;
}