{% extends "layout.html" %}

{% block title %}
    Add new tag
{% endblock %}

{% block content %}
    <form action="{{   url_for('add_tag_to_question', question_id=question_id) }}" method="post">
        <h2>Add tag to Question {{ question_id }}</h2><br>
        <input id="tagging" name="tag" maxlength="40" required><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
{% block footer %}
        <a href="{{ url_for('list_all_questions') }}">Go back without saving</a>
{% endblock %}