{% extends "layout.html" %}

{% block title %}
    Add new tag
{% endblock %}

{% block content %}
    <form action="{{   url_for('add_tag_to_question', question_id=question_id) }}" method="post">
        <label for="tagging">Add tag to Question {{ question_id }}</label><br>
        <textarea id="tagging" name="tag" rows="2" cols="40" required></textarea><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
{% block footer %}
    <a class="navigation" href="{{ url_for('list_all_questions') }}">Go back without saving</a>
{% endblock %}