{% extends "base_question.html" %}
{% block title %}Edit question{% endblock %}
{% block header2 %}Edit question {{ question["id"] }} {% endblock %}
{% block action %}/question/{{ question['id'] }}/edit{% endblock %}
{% block question_title %}{{ question['title'] }}{% endblock %}
{% block message %}{{ question['message'] | replace('<br>', '') }}{% endblock %}
{% block submit %}Save changes{% endblock %}
{% block footer %}
    <a class="navigation" href="{{ url_for('detail_question', question_id=question['id']) }}">Go back without saving</a>
{% endblock %}