{% extends "layout.html" %}

{% block content %}

    <h1>Ask5Mates</h1>
    {% block all_questions %} {% endblock %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Submission time</th>
            </tr>
        </thead>
        <tbody>
            {% for question in all_questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td><a href="{{ url_for('detail_question', question_id=question.id ) }}"> {{ question.title }}</a></td>
                <td> {{ question.submission_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a id="show_all" target="_self" href="{{ url_for('list_all_questions') }}">Show all questions</a>
{% endblock %}