<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ask5mates | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="header">
        <h1>Ask5Mates</h1>
        <a href="{{ url_for('registration') }}">Sign up</a>
        <a href="{{ url_for('registration') }}">Login</a>
    </div>
    <div class="content">
        <div class="search-box">
            <form action="{{ url_for('search', search_phrase=search_phrase) }}">
                <label for="search"></label>
                <input type="text" id="search" name="search_phrase" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="changing_content">
            {% block content %} {% endblock %}
        </div>
    </div>
    <div id="footer">
        {% block footer %} {% endblock %}
    </div>
</body>
</html>

