<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask5Mates</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
            </tr>
        </thead>
        <tbody>
            {% for question in all_questions %}
            <tr>
                <td>{{ question["id"] }}</td>
                <td><a href="{{ url_for('detail_question', question_id=question['id']) }}">{{ question["title"] }}</a></td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</body>
</html>