{% extends "layout.html" %}

{% block title %}login{% endblock %}

{% block content %}
    <form id="log_in_sys" action="{{ url_for('login') }}" method="post">
        <h4>Login</h4>
        <label for="username">Username </label>
        <input id="user_name" name="username" type="text" minlength="5">
        <label for="password">Password </label>
        <input id="password" name="password" type="password">
        <button type="submit">Login</button>
        <p class="system_message">{{ alert_message }}</p>
    </form>
{% endblock %}

{% block footer %}
    <a href="{{ url_for('list_all_questions') }}">Back to all questions</a>
    <a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}

