{% extends "layout.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
    <h2>{% block header2 %}Registration{% endblock %}</h2>
    <form action="{{ url_for('registration') }} " method="post">
        <label for="user_name">User name</label>
        <input name="user_name" id="user_name" minlength="5" maxlength="15" required=""
               value="{{ user_name if user_name }}">
        <label for="password">Password</label>
        <input name="password" type="password" id="password" minlength="8" maxlength="30" required="">
        <label for="verify_password">Verify password</label>
        <input name="password_again" type="password" id="verify_password" minlength="8" maxlength="30" required="">
        <button type="submit">Create an account</button>
        <h3>{{ message if message }}</h3>
    </form>
{% endblock %}